@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 30px 30px;
}

main, h3 {
    @include flexCenter();
}

#destTitle {
    @include flexCenter();
    justify-content: space-evenly;
    img {
        max-width: 600px;
        margin: 0;
    }

    #info {
        padding: 20px;
    }
}

#attractions {
    @include flexCenter();
    flex-wrap: wrap;

    #mini {
        padding: 20px;
    }

    img {
        max-width: 350px;
        margin: 0;
    }
}
#recommend {
    @include flexCenter();
    display: flex;
    justify-content: space-evenly;
}

#related {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    img {
        max-width: 250px;
    }

}
