@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background-color: #1f242d;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

h2, label {
  color: #ff5757;
}

.center-form {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input-field input[type="text"],
.input-field input[type="email"],
.input-field textarea {
  background-color: #2a2f3a;
  border-radius: 8px;
  padding: 12px;
  color: white;
  font-size: 16px;
  border: none;
}

.input-field input[type="text"]::placeholder,
.input-field input[type="email"]::placeholder,
.input-field textarea::placeholder {
  color: #aaa;
}

.input-field input:focus,
.input-field textarea:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #ff5757 !important;
}

.input-field label {
  color: #ff5757 !important;
  font-weight: 500;
}

.btn {
  background-color: #ff5757;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e04545;
}

footer {
  background-color: #2a2f3a;
  color: #ccc;
  text-align: center;
  padding: 30px 10%;
  font-size: 14px;
  margin-top: 80px;
  border-top: 1px solid #444;
}

footer a {
  color: #ff5757;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: white;
}
