*{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

img{
    width: 1100vw;
    height: vh;
    object-fit: cover;
    display: block;
}

/* img{
    background-size: cover;
    background-size: 100%;
    height: auto;
} */
